$pink: #D84989;
$dark-blue: #120F2C;

.wp-block-capitainewp-css {
	background: $dark-blue;
	padding: 40px 60px;
	border-radius: 10px;
	margin-top: 2em;
	margin-bottom: 2em;

	p.first-line {
		margin: 0;
		font-size: 5em;
		color: $pink;
		font-weight: bold;
		line-height: 1.3;
		font-family: 'Open Sans', sans-serif;
	}

	h2 {
		color: #fff;
		font-size: 2.5em;
		line-height: 1.3;
		margin: 0;
		padding: 0;
	}
}
