.capitaine-placeholder {
	background: #fcfcfc;
	border: 1px solid #ddd;
	color: #999;
	padding: 40px;
	text-align: center;
	line-height: 20px;

	.spinner {
		float: none;
		margin-top: -2px;
	}
}

.editor-styles-wrapper {
	ul.wp-block-capitainewp-dynamic {
		list-style-type: none; // forcer le retrait des puces dans la liste
		padding-left: 0;
	}
}
