.wp-block-capitainewp-plugin {
	margin: 2em 0;
  background: white;
	border: 1px solid #ddd;
}

.wp-block-capitainewp-plugin__content {
	display: flex;
	padding: 20px;
}

.wp-block-capitainewp-plugin__picture {
	display: block;
	width: 128px;
	height: 128px;
	margin-right: 20px;

	img {
		display: block;
		max-width: 100%;
		height: auto;
	}
}

.wp-block-capitainewp-plugin__main {
	flex: 1;

	.wp-block-capitainewp-plugin__title {
		margin: 0 0 8px 0;

		a {
			text-decoration: none;
			color: #444;
			font-weight: bold;
		}
	}

	.wp-block-capitainewp-plugin__desc {
		font-size: .9em;
		margin: 8px 0;
	}

	.wp-block-capitainewp-plugin__author {
		font-size: .9em;
		margin: 8px 0 0 0;
	}
}

.wp-block-capitainewp-plugin__footer {
	display: flex;
	padding: 12px 20px;
	background: #f8f8f8;
}

.wp-block-capitainewp-plugin__meta {
	flex: 1;

	p {
		margin: 0;
		font-size: .9em;
		line-height: 1.5;
	}
}

.wp-block-capitainewp-plugin__num-rating:before {
	content: '(';
}

.wp-block-capitainewp-plugin__num-rating:after {
	content: ')';
}

.wp-block-capitainewp-plugin__download a {
	display: inline-block;
	background: #007cba;
	font-size: .9em;
	color: white;
	border-radius: 2px;
	text-decoration: none;
	padding: .5em 1em;
	transition: .3s background-color linear;

	&:hover {
		background-color: #006ba1;
		color: white;
	}
}
